# Lab 12 - Video Game Stats
#### Vijayeta Rangarajan
#### 27th May 2020

In [1]:
import numpy as np
import pandas as pd

In [2]:
vg_frame = pd.read_csv('vgsales.csv')

In [3]:
vg_frame.shape

(16598, 11)

In [4]:
vg_frame.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### 1. The most common Video Game Publisher is : Electronic Arts

### 2. The most common Platform is : DS

### 3. The most common Genre is : Action

In [5]:
most_common_publisher = vg_frame[['Publisher']].mode()
most_common_publisher = most_common_publisher.iloc[0][0]
most_common_publisher

'Electronic Arts'

In [6]:
most_common_platform = vg_frame[['Platform']].mode()
most_common_platform = most_common_platform.iloc[0][0]
most_common_platform

'DS'

In [7]:
most_common_genre = vg_frame[['Genre']].mode()
most_common_genre= most_common_genre.iloc[0][0]
most_common_genre

'Action'

### 4. What are the top 20 highest grossing games?

In [8]:
top_twenty_highest_grossing_games = vg_frame[["Name", "Global_Sales"]].sort_values('Global_Sales',ascending = False).nlargest(20,'Global_Sales')

In [9]:
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [10]:
top_twenty_highest_grossing_games.iloc[0].Name

'Wii Sports'

### 5. For North American video game sales, the median is:

In [11]:
na_median_sales = vg_frame[['NA_Sales']].median()

In [12]:
na_median_sales= na_median_sales.iloc[0]
na_median_sales

0.08

In [13]:
with_median = vg_frame[vg_frame['NA_Sales']==na_median_sales].sort_values('NA_Sales', ascending=True)
with_median_count = len(with_median)
mid_of_median = with_median_count // 2
ten_median_na_seller= with_median[mid_of_median - 5: mid_of_median + 5]
ten_median_na_seller_names= [name for name in ten_median_na_seller.Name]
ten_median_na_seller_names
with_median

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
10532,10534,Hot Wheels: Stunt Track Challenge,XB,2004.0,Racing,THQ,0.08,0.02,0.00,0.00,0.10
10526,10528,FIFA Street,XB,2005.0,Sports,Electronic Arts,0.08,0.02,0.00,0.00,0.10
10523,10525,Colin McRae Rally 04,XB,2004.0,Racing,Codemasters,0.08,0.02,0.00,0.00,0.10
10516,10518,Dora's Cooking Club,DS,2010.0,Misc,Take-Two Interactive,0.08,0.01,0.00,0.01,0.10
...,...,...,...,...,...,...,...,...,...,...,...
8887,8889,Chessmaster II,PS,1998.0,Strategy,Mindscape,0.08,0.06,0.00,0.01,0.15
8869,8871,T'ai Fu: Wrath of the Tiger,PS,1998.0,Action,Activision,0.08,0.06,0.00,0.01,0.15
8860,8862,Mirror's Edge Catalyst,XOne,2016.0,Platform,Electronic Arts,0.08,0.05,0.00,0.02,0.15
8826,8828,FIFA Soccer 2002,PS,2001.0,Sports,Electronic Arts,0.08,0.06,0.00,0.01,0.15
11492,11494,Ultimate Shooting Collection,Wii,2008.0,Shooter,Milestone,0.08,0.00,0.00,0.00,0.08

### 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [14]:
highest_grossing_games = vg_frame[["Name", "Global_Sales", "NA_Sales"]].sort_values('Global_Sales',ascending = False)

In [15]:
highest_grossing_games.iloc[0]

Name            Wii Sports
Global_Sales         82.74
NA_Sales             41.49
Name: 0, dtype: object

In [16]:
highest_na_sale = highest_grossing_games.iloc[0][2]

In [17]:
highest_na_sale

41.49

In [18]:
na_sale_std = vg_frame["NA_Sales"].std()

In [19]:
na_sale_std

0.8166830292988796

In [20]:
na_sale_mean = vg_frame["NA_Sales"].mean()

In [21]:
na_sale_mean

0.26466742981082064

In [22]:
std_for_outlier= int((highest_na_sale - na_sale_mean)/na_sale_std)
std_for_outlier

50

### 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

* find the dataframe for nintendo wii only
* find the average sales for nintendo wii
* find the data frame for all the other platforms
* find the average sales for all the other platforms
* compare the averages

In [23]:
is_Wii = vg_frame[vg_frame['Platform']=='Wii']
nintendo_Wii_average_sales = is_Wii['Global_Sales'].mean()
nintendo_Wii_average_sales

0.6994037735849057

In [24]:
is_not_Wii = vg_frame[vg_frame['Platform'] != 'Wii']
is_not_Wii_average_sales = is_not_Wii['Global_Sales'].mean()
is_not_Wii_average_sales

0.5233896418516336

In [25]:
nin_Wii_sales = nintendo_Wii_average_sales/is_not_Wii_average_sales

In [26]:
# nin_Wii_sales= int(nin_Wii_sales)
nin_Wii_sales

1.3362965516676526

### it is same than other platforms

### 8. What two twenty games have the highest sales in Japan?

In [27]:
japan_games= vg_frame[["Name","Platform","Publisher","JP_Sales"]].sort_values("JP_Sales", ascending=False).nlargest(20,'JP_Sales')
japan_games

,Name,Platform,Publisher,JP_Sales
4,Pokemon Red/Pokemon Blue,GB,Nintendo,10.22
12,Pokemon Gold/Pokemon Silver,GB,Nintendo,7.20
1,Super Mario Bros.,NES,Nintendo,6.81
6,New Super Mario Bros.,DS,Nintendo,6.50
20,Pokemon Diamond/Pokemon Pearl,DS,Nintendo,6.04
26,Pokemon Black/Pokemon White,DS,Nintendo,5.65
25,Pokemon Ruby/Pokemon Sapphire,GBA,Nintendo,5.38
41,Animal Crossing: Wild World,DS,Nintendo,5.33
27,Brain Age 2: More Training in Minutes a Day,DS,Nintendo,5.32
214,Monster Hunter Freedom 3,PSP,Capcom,4.87
8,New Super Mario Bros. Wii,Wii,Nintendo,4.70
73,Animal Crossing: New Leaf,3DS,Nintendo,4.36
149,Dragon Quest IX: Sentinels of the Starry Skies,DS,Nintendo,4.35
32,Pokemon X/Pokemon Y,3DS,Nintendo,4.34
5,Tetris,GB,Nintendo,4.22
21,Super Mario Land,GB,Nintendo,4.18
19,Brain Age: Train Your Brain in Minutes a Day,DS,Nintendo,4.16
161,Monster Hunter Freedom Unite,PSP,Capcom,4.13
11,Mario Kart DS,DS,Nintendo,4.13
242,Dragon Quest VII: Warriors of Eden,PS,Enix Corporation,4.10

### 9. What is the average global sales for games in platform DS?

In [28]:
ds_games_average = vg_frame[vg_frame['Platform']=='DS']['Global_Sales'].mean()
ds_games_average

0.3802542764678687

### 10. List the top 20 year we had the highest sales

In [29]:
new_group = vg_frame[["Year","Global_Sales", "JP_Sales"]].groupby("Year").sum().sort_values("Global_Sales", ascending= False)
# new_group = new_group[["Year","Global_Sales"]]
new_group

        Global_Sales  JP_Sales
Year
2008.0        678.90     60.26
2009.0        667.30     61.89
2007.0        611.13     60.29
2010.0        600.45     59.49
2006.0        521.04     73.73
2011.0        515.99     53.04
2005.0        459.94     54.28
2004.0        419.31     41.65
2002.0        395.52     41.76
2013.0        368.11     47.59
2012.0        363.54     51.74
2003.0        357.85     34.20
2014.0        337.05     39.46
2001.0        331.47     39.86
2015.0        264.44     33.72
1998.0        256.47     50.04
1999.0        251.27     52.34
2000.0        201.56     42.77
1997.0        200.98     48.87
1996.0        199.15     57.44
1995.0         88.11     45.75
1994.0         79.17     33.99
1992.0         76.16     28.91
1989.0         73.45     18.36
2016.0         70.93     13.70
1985.0         53.94     14.56
1984.0         50.36     14.27
1990.0         49.39     14.88
1988.0         47.22     15.76
1993.0         45.98     25.33
1986.0         37.07     19.81
1981.0         35.77      0.00
1991.0         32.23     14.78
1982.0         28.86      0.00
1987.0         21.74     11.63
1983.0         16.79      8.10
1980.0         11.38      0.00
2020.0          0.29      0.00
2017.0          0.05      0.05

In [30]:
new_group = vg_frame[["Year","Global_Sales", "JP_Sales"]].groupby("Year").sum().sort_values("Global_Sales", ascending= False)
year_with_highest_sale = new_group.iloc[0].name

In [32]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, "Electronic Arts")
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales,0.08)
    assert_equal(ten_median_na_seller_names, ['Justice League Heroes', 'Samurai Shodown Anthology', 'The Secret Saturdays: Beasts of the 5th Sun', "Dora's Big Birthday Adventure", 'The Hidden', 'Nickelodeon Dance', 'GT Advance 2: Rally Racing', "Backyard NFL Football '09", 'Goblin Commander: Unleash the Horde', 'MX World Tour Featuring Jamie Little'])
    assert_equal(std_for_outlier,50)
    assert_equal(int(nin_Wii_sales),1)
    assert_equal(japan_games.iloc[0][0], 'Pokemon Red/Pokemon Blue')
    assert_equal(japan_games.iloc[19][0], 'Dragon Quest VII: Warriors of Eden')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(int(new_group.iloc[0][0]),678)
    assert_equal(year_with_highest_sale,2008)
    print("Success!!!")

test()

Success!!!